<?php
$CONF['default_aliases'] = array (
    'abuse' => 'abuse@{{ domain }}',
    'hostmaster' => 'hostmaster@{{ domain }}',
    'postmaster' => 'postmaster@{{ domain }}',
    'webmaster' => 'webmaster@{{ domain }}'
);

$CONF['admin_email'] = 'root@{{ domain }}';
$CONF['database_type'] == 'pgsql'

$CONF['setup_password'] = '9697c7fd7b7deaea463f42b71c59e519:649e629795fc09d2af7515e840cb9124ac2c8d2f';
?>
